/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Aug, 2019, 4:12:43 PM
    Author     : admin
*/

.mllogin{
    margin-left: 24.666667% !important;margin-right: 24.666667% !important;
}
.centerElement{
    margin: 0 auto;
    display: table;
}